<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dsp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pi Security"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DSP"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Edit"
            android:label="Pi Security - Edit" />
        <activity
            android:name=".Alerts"
            android:label="Pi Security - Alerts" />
        <activity
            android:name=".Library"
            android:label="Pi Security - Library" />
        <activity
            android:name=".liveVideoFeed"
            android:label="Live video Feed"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainMenu"
            android:label="Pi Security - Main Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="Pi Security - Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>